@model ProjectManager.Models.ViewModels.ProjectVM

<h2>Add Employee to Project: @Model.Project.Name</h2>

<form asp-action="AddEmployeeToProject" method="post">
    <input type="hidden" asp-for="@Model.Project.Id" />

    <div class="mb-3 row">
        <div class="col-4">
            <label asp-for="@Model.Project.Id">Employee:</label>
        </div>
        <div class="col-8">
            <label asp-for="SelectedEmployeeIds" class="control-label"></label>
            <select asp-for="SelectedEmployeeIds" asp-items="@(new SelectList(Model.Employees, "Id", "FirstName"))" multiple class="form-control">
            </select>
            <span asp-validation-for="SelectedEmployeeIds" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add Employee</button>
    <a asp-controller="Projects" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}